@import "./variables";

.advantages {
    padding: 148px 0 100px;

    &-item {
        text-align: center;
        margin-bottom: 44px;

        &__image {
            margin-bottom: 24px;
        }

        &__title {
            margin-bottom: 8px;
            font-weight: 500;
        }
    }
}