@import "./variables";

body {
    font-family: "Work Sans", sans-serif;
    color: $black;
}

body,
html {
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

h1 {
    font-size: 48px;
    font-weight: 500;
}

h2 {
    font-size: 36px;
    font-weight: 500;
}

h4 {
    font-size: 24px;
    font-weight: 400;
}

h5 {
    font-size: 20px;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    font-weight: 400;
}

a {
    transition: all 0.17s ease;

    &:hover {
        text-decoration: none;
    }
}

button {
    display: block;
    cursor: pointer;
}

input,
button {
    border: none;

    &:focus {
        outline: none;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

span {
    &.color-blue {
        color: $blue;
    }
}

.btn {
    padding: 12px 24px;
    border-radius: 6px;
    transition: all 0.17s ease;
    font-size: 16px;
    font-weight: 500;
    color: $black;
    min-width: 102px;
    min-height: 48px;

    &.btn-yellow {
        background: $btn-yellow;
        color: $black;

        &:hover {
            background: $btn-yellow-hover;
        }
    }

    &.btn-blue {
        background: $btn-blue;
        color: #fff;

        &:hover {
            background: $btn-blue-hover;
        }
    }

    &.btn-white {
        background: $btn-white;

        &:hover {
            background: $btn-white-hover;
        }
    }

    &.btn-link {
        color: $btn-link;
        background: transparent;
        border: 1px solid $btn-link-border;

        &:hover {
            border: 1px solid $btn-link-border-hover;
        }
    }

    &.btn-yellow,
    &.btn-white {
        min-width: 202px;
    }

    &.btn-yellow,
    &.btn-white,
    &.btn-blue {
        padding: 18px 30px;
        min-height: 60px;
    }
}

a.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    // &.btn-yellow {
    //     &:hover {
    //         color: $black;
    //     }
    // }
}

.section-separate {
    hr {
        height: 1px;
        margin: 0;
        border: none;
        background: $border-gray;
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width: $lg-width) {}

@media (max-width: $md-width) {}

@media (max-width: $sm-width) {
    h1 {
        font-size: 36px;
    }
}