@import "./variables";

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px;
    transition: background-color .3s, padding .3s;
    z-index: 1000;

    &.scrolled {
        padding: 16px 14px;
        background-color: rgba($navy-blue, 0.95);
        box-shadow: 0 0 2px rgba(42, 42, 42, .3);
    }

    &-menu {
        display: flex;
        align-items: center;

        &__item {
            margin-left: 36px;

            a {
                font-size: 16px;
                color: #fff;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}