@import "./variables";

.prices {
    padding: 123px 0 57px;

    &__title {
        text-align: center;
        margin-bottom: 60px;

        @media (max-width: $sm-width) {
            margin-bottom: 24px;
        }
    }

    &__table {
        width: 100%;

        .table {
            &-column {
                padding: 24px 20px;

                &__name {
                    color: $navy-blue;
                    font-weight: 500;
                }

                &__desc {
                    color: $gray;
                    font-weight: 400;
                }

                @media (max-width: $sm-width) {
                    padding: 8px 10px;
                }
            }

            &-row {
                td {
                    padding: 12px 20px;

                    @media (max-width: $sm-width) {
                        padding: 8px 10px;
                    }
                }

                &-blue {
                    background: $blue;

                    p {
                        color: #fff;
                        font-weight: 500;
                    }
                }

                &-gray {
                    background: rgba($gray, 0.05);
                }

                &__provider {
                    display: flex;
                    align-items: center;

                    &>div {
                        margin-right: 24px;
                    }
                }
            }
        }
    }

    .procent {
        display: block;
        font-size: 14px;

        &-red {
            color: $red;
        }

        &-green {
            color: $green;
        }
    }

    &__caption {
        display: flex;
        margin-top: 28px;
        padding: 33px 20px;
        border-top: 1px solid $border-gray;

        &-icon {
            margin-right: 10px;
        }

        &-text {
            font-size: 14px;
            color: $gray;
        }

        @media (max-width: $sm-width) {
            padding: 20px 10px;
        }
    }

    @media (max-width: $sm-width) {
        padding: 60px 0 0;
    }
}