@import "./variables";

.storages {
    padding: 141px 0 116px;
    text-align: center;

    &__title {
        margin-bottom: 16px;
    }

    &__subtitle {
        margin: 0 auto 60px;
        max-width: 500px;
        color: $gray;

        @media (max-width: $sm-width) {
            margin-bottom: 40px;
        }
    }

    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &__item {
            margin: 0 22px 16px;

            @media (max-width: $sm-width) {
                margin-bottom: 30px;
            }
        }
    }

    @media (max-width: $sm-width) {
        padding: 60px 0 30px;
    }
}