$black: #18181b;
$blue: #0891b2;
$yellow: #facc15;
$gray: #a3a3a3;
$navy-blue: #0c4a6e;
$red: #dc2626;
$green:#30b6b6;

$btn-yellow: #facc15;
$btn-yellow-hover: #e8bd14;
$btn-blue: #0891b2;
$btn-blue-hover: #087b97;
$btn-white: #fff;
$btn-white-hover: #e7edf1;
$btn-link: #fff;
$btn-link-border: #fff;
$btn-link-border-hover: rgba(#fff, 0.5);

$footer-gradient: linear-gradient(94deg, #000 3%, #0c4a6e 95%);

$modal-bg: rgba(#061924, 0.8);

$lg-width: 991px;
$md-width: 767px;
$sm-width: 575px;